/* =============
    Base
============= */


.container{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". content .";
    .content{
        grid-area: content;
    }
}

img{
    width: 100%;
    height: auto;
}

.show-menu{
    display: block !important;
}


.hide-for-lg{
    @include lg{
        display: none;
    }
}

.section-spacer{
    margin: 64px 0px 64px 0px;

    @include lg{
        margin: 96px 0px 96px 0px
    }
}

h1,h2,h3,p{
    color: $green;
}

.bg{
    background-color: $palegreen;
}