/* =============
    About
============= */

.offered{
    font-family: 'lato', sans-serif;
    color: $green;

    h1{
        text-align: justify;
        font-weight: 400;
        font-size: 18px;

        @include md{
            font-size: 24px;
        }
    }

    ul{
        text-align: left;
        font-weight: 300;
        font-size: 16px;

        @include lg{
            font-size: 18px;
        }
    }
}

.heart{

    h2{
        font-family: 'lato', sans-serif;
        color: $green;
        font-weight: 300;
        font-size: 16px;

        @include md{
            font-size: 18px;
        }
    }
}

.dissapear{
    img{
        display: block;
    }
    @include md{
        img{
            display: none;
        }
    }
}

.about-columns{
    display: grid;

    .columns{
        grid-template-columns: 50% 50%;

        @include md{
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
        }
    
        @include xl{
            grid-template-columns: 33.33% 33.33% 33.33%;
        }

        .one-column{
            display: grid;
            grid-template-columns: 100%;

            @include xl{
                display: none;
            }
        }
    }
}