/* =============
    About
============= */

.offered{
    font-family: 'lato', sans-serif;
    color: $green;

    h1{
        text-align: justify;
        font-weight: 400;
        font-size: 18px;

        @include md{
            font-size: 24px;
        }
    }

    ul{
        text-align: left;
        font-weight: 300;
        font-size: 16px;

        @include lg{
            font-size: 18px;
        }
    }
}

.heart{

    h2{
        font-family: 'lato', sans-serif;
        color: $green;
        font-weight: 300;
        font-size: 16px;

        @include md{
            font-size: 18px;
        }
    }
}

.dissapear{
    img{
        display: block;
    }
    @include md{
        img{
            display: none;
        }
    }
}

.about-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "text-1 text-1"
    "image-1 image-2"
    "text-2 text-2"
    "image-3 image-3"
    "button-1 button-1"
    ;

    @include md{
        grid-template-areas:
        "text-1 text-1"
        "image-1 image-2"
        "text-2 text-2"
        "button-1 button-1"
        ;
    }

    @include lg{
        grid-template-areas: 
        "image-1 text-1"
        "text-2 image-2"
        ;
    }

    @include xl{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "text-1 text-1 text-1"
        "image-1 image-2 image-3"
        "text-2 text-2 text-2"
        ;
    }

    .text-1{
        grid-area: text-1;
    }

    .text-2{
        grid-area: text-2;
    }

    .image-1{
        grid-area: image-1;
    }

    .image-2{
        grid-area: image-2;
    }

    .image-3{
        grid-area: image-3;
    }

    .button-1{
        grid-area: button-1;
    }
}