/* =============
    About
============= */

.offered{
    font-family: 'lato', sans-serif;
    color: $green;

    @include xl{
        width: 690px;
        margin: auto;
    }

    h1{
        text-align: center;
        font-weight: 400;
        font-size: 18px;

        @include md{
            font-size: 24px;
        }
    }

    ul{
        text-align: left;
        font-weight: 300;
        font-size: 16px;

        @include lg{
            font-size: 18px;
        }
    }
}

.heart{
    @include xl{
        width: 690px;
        margin: auto;
    }

    h2{
        font-family: 'lato', sans-serif;
        color: $green;
        font-weight: 300;
        font-size: 16px;
        text-align: justify;

        @include md{
            font-size: 18px;
        }
    }

    h3{
        font-family: 'lato', sans-serif;
        color: $green;
        font-weight: 300;
        font-size: 16px;
        text-align: center;

        @include md{
            font-size: 18px;
        }
    }
}

.about-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
    "text-1 text-1"
    "image-1 image-2"
    "text-2 text-2"
    "image-3 image-3"
    "button-1 button-1"
    ;

    @include md{
        grid-template-areas:
        "text-1 text-1"
        "image-1 image-2"
        "text-2 text-2"
        "button-1 button-1"
        ;
        margin: 0px 120px 0px 120px;
    }

    @include lg{
        grid-template-areas: 
        "image-1 text-1"
        "text-2 image-2"
        ;
        margin: 0px 220px 0px 220px;
    }

    @include xl{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "text-1 text-1 text-1"
        "image-1 image-2 image-4"
        "text-2 text-2 text-2"
        ;
        margin: 0px;
    }

    .text-1{
        grid-area: text-1;
        margin-bottom: 64px;

        @include lg{
            margin-bottom: 0px;
        }

        @include xl{
            margin-bottom: 96px;
        }
    }

    .text-2{
        grid-area: text-2;
        margin-top: 64px;

        @include lg{
            margin-top: 0px;
        }

        @include xl{
            margin-top: 96px;
        }
        
        .button-2{
            display: none;

            @include md{
                display: flex;
                justify-content: center;
            }
        }
    }
}

    .image-1{
        grid-area: image-1;
    }

    .image-2{
        grid-area: image-2;
    }

    .image-3{
        grid-area: image-3;

        @include md{
            display: none;
        }
    }

    .image-4{
        grid-area: image-4;
        display: none;

        @include xl{
            display: block;
        }
    }

    .button-1{
        grid-area: button-1;

        @include md{
            display: none;
        }
    }


.carousel{
    margin: auto;

    @include lg{
        margin: 0px 120px 0px 120px;
    }

    @include xl{
        margin: 0px 135px 0px 135px;
    }
}