/* =============
    Directory
============= */

.directory{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 15px;

    @include lg{
        grid-template-columns: 25% 25% 25% 25%;
        gap: 15px;
    }

    h1,h2{
        text-align: center;
        color: $green;
        font-family: 'lato', sans-serif;
    }

    h1{
        font-weight: 700;
        font-size: 24px;

        @include lg{
            font-size: 36px;
        }
    }

    h2{
        font-weight: 300;
        font-size: 16px;

        @include lg{
            font-size: 24px;
        }
    }

    .directory-content{
        text-align: center;
        height: 170px;

            .cafe{
                background-image: url(/deploy/img/Homepage/coffeetable.jpg);
            }
        
            .our-story{
                background-image: url(/deploy/img/Homepage/glasses.jpg);
            }
        
            .resources{
                background-image: url(/deploy/img/Homepage/yellowflowers.jpg);
            }
        
            .contact{
                background-image: url(/deploy/img/Homepage/plantshelf.jpg);
            }
    }

}