/* =============
    Hero
============= */

.hero{
    img{
        width: 100%;
        height: auto;
        margin: 64px 0px 0px 0px;

        @include lg{
            margin: 96px 0px 0px 0px;
        }
    }
}