/* =============
    Reading
============= */
 
.readinglist{
    text-align: center;
    background-color: $palegreen;
    padding: 25px 0px 25px 0px;

    h1{
        letter-spacing: 0.2em;
    }

    form{
        display: inline-block;

        input{
            font-family: 'lato', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }
    }
}