/* =============
    Resources
============= */

.title{
    display: none;

    @include md{
    display: block;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 24px;
    }

    @include lg{
        font-size: 36px;
    }
}

 .resources-text{

    h1{
        text-align: center;
        font-family: 'lato', sans-serif;
        font-weight: 600;
        font-size: 24px;

        @include lg{
            font-size: 36px;
        }
    }

    h2{
        text-align: center;
        text-align: center;
        font-family: 'lato', sans-serif;
        font-weight: 400;
        font-size: 18px;

        @include lg{
            font-size: 24px;
        }
    }

    p{
        text-align: justify;
        text-justify: inter-word;
        font-family: 'lato', sans-serif;
        font-weight: 300;
        font-size: 16px;

        @include lg{
            font-weight: 400;
            font-size: 18px;
        }
    }

    .margin{
        margin: 0px;

        @include md{
            margin: 0px 220px 0px 220px;
        }

    }
}

.start{
    display: block;

    img{
        width: 100%;
        height: auto;
    }

    @include md{
        display: grid;
        gap: 18px;
        grid-template-columns: 50% 50%;
        margin: 0px 120px 0px 120px;

        .column{
            text-align: center;
            margin: auto;
        }
    }
}