/* =============
    Shop
============= */
 .shop{
    background-color: $teal;
    height: 130px;
    text-align: center;

    .center{
        padding: 50px;
        
        @include md{
            padding: 80px;
        }
    }

    @include md{
        height: 200px;
    }
 }